body {
  background: #83c1e8;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.todo {
  max-width: 360px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 10px;
  padding: 15px;
}

input {
  all: unset;               
  box-sizing: border-box;   
  display: inline-block;    
  width: 100%;             
  font: inherit;            
  color: inherit;          
  background: none;         
  border: none;             
  outline: none;            
  appearance: none;        
  -webkit-appearance: none; 
  -moz-appearance: none;    
}



