body {
  /* background: #83c1e8; */
  background: #124667;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

input {
  padding: 0;
  border: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#root {
  max-width: 600px;
  margin: 0 auto;
}

button {
  border: none;
  all: unset;
  cursor: pointer;
  transition: .3s ease;
  &:hover {
    opacity: .3s ease;
  } 
}

.todo {
  max-width: 360px;
  margin: 0 auto;
  background: #FFF;
  border-radius: 10px;
  padding: 15px;
}

input {
  all: unset;               
  box-sizing: border-box;   
  display: inline-block;    
  width: 100%;             
  font: inherit;            
  color: inherit;          
  background: none;         
  border: none;             
  outline: none;            
  appearance: none;        
  -webkit-appearance: none; 
  -moz-appearance: none;    
}



